.imginfo {
    background: red;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 333px;
    height: 500px;
    margin: 0 10px;
    border-radius: 10px;
    align-self: stretch;
}

.datos {
    background: white;
    text-align: end;
    align-self: stretch;
}

.name {
    text-align: center;
    border-bottom: 1px solid black;
}

.descrip {
    text-align: start;
}

.desc {
    border-bottom: 1px solid black;
}