.container {
    width: 100%;
}

.imginfo {
    margin: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 333px;
    height: 500px;
    margin: 0 10px;
    border-radius: 10px;
}

.datos {
    text-align: end;
}

.name {
    text-align: center;
    border-bottom: 1px solid white;
}

.descrip {
    text-align: start;
}

.desc {
    border-bottom: 1px solid white;
}