.buttons {
    background: transparent;
    margin: 10px;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.buttons:hover, .nextyprev:hover {
    transform: scale(2, 2);
    text-shadow: 5px 4px 3px grey;
}

.nextyprev {
    background: transparent;
    margin: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
}