.search {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 10px;
}

.input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

.button {
    background: transparent;
    border: none;
}

.img {
    width: 20px;
    height: 20px;
}