.form {
    height: 700px;
    width: 500px;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.title {
    border-bottom: 1px solid white;
}

.info {
    background: transparent;
    color: white;
    width: 100%;
    text-align: center;
    margin: 17px auto;
    border: 1px solid transparent;
    outline: none;
    padding: 5px;
}

.info:hover {
    cursor: pointer;
}

.info:focus {
    background: white;
    color: black;
}

.submitButton {
    background: transparent;
    color: white;
    width: 100%;
    margin: 20px auto;
    border: 1px solid transparent;
    padding: 10px;
    text-transform: uppercase;
}

.submitButton:hover {
    cursor: pointer;
    background: white;
    color: black;
}